* {
    --primary-color--: #037733;
    --secondary-color--: #f9e11a;
    --accent-color-1--: #ffffff;
    --accent-color-2--: #fea707;
}

body {
    margin: 0;
}

nav {
    background-color: var(--primary-color--);
    color: var(--accent-color-1--);
    z-index: 1;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 20px 10px;
}

nav ul li {
    text-align: center;
    padding: 10px;
    margin: auto 20px;
    transition: .2s ease-in-out;
}

nav ul li:hover {
    cursor: pointer;
    background-color: var(--secondary-color--);
    color: black;
    border-radius: 10px;
    box-shadow: 0 7px 0px var(--accent-color-2--);
}

main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

main section {
    background-color: var(--secondary-color--);
    border: 5px solid var(--accent-color-2--);
    padding: 20px;
    margin: 50px;
    border-radius: 15px;
    transition: .2s ease-in-out;
}

main section:hover {
    border-radius: 20px;
    box-shadow: 0px 7px 0px var(--accent-color-2--);
    border: 5px solid var(--primary-color--);
    cursor: default;
}

main h1 {
    position: absolute;
    top: 20%;
    left: 50%;
}

main img {
    grid-column: 1/4;
    object-fit: cover;
    width: 100%;
}

footer {
    background-color: var(--primary-color--);
    color: var(--accent-color-1--);
    padding: 20px;
}